<mat-card class="home mat-elevation-z3">
    
    <mat-card-title class="title">
        Bem vindo!
    </mat-card-title>
    
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar a construção de um cadastro em Angular
    </mat-card-subtitle>

</mat-card>

<mat-card class="sub-home mat-elevation-z3">
    
    <mat-card-title class="title">
        Usuário
    </mat-card-title>
    
    <mat-card-subtitle class="subtitle">
        Guilherme Henrique de Araújo Santos
    </mat-card-subtitle>

</mat-card>

<mat-card id="card-right" class="sub-home mat-elevation-z3">
    
    <mat-card-title class="title">
        Informações
    </mat-card-title>
    
    <mat-card-subtitle class="subtitle">
        Estudante de 20 anos de idade da Universidade Federal de Uberlândia
    </mat-card-subtitle>

</mat-card>